@using IndignadoFramework.Entities

@{
    ViewBag.Title = "Home";
}


 
              
          

<div class="post">
<h2>Mapa de Convocatorias</h2>

@{Html.RenderAction("ObtenerMapa", "Home");}

</div>


