<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- CHANGE CONNECTION STRING SETTINGS HERE -->

    <!--<add name="ModelContainer" connectionString="metadata=res://*/ModelContainer.csdl|res://*/ModelContainer.ssdl|res://*/ModelContainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=IndignadoFramework;Integrated Security=True;;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="ContextoIndignadoFramework" connectionString="metadata=res://*/ModeloIndignadoFramework.csdl|res://*/ModeloIndignadoFramework.ssdl|res://*/ModeloIndignadoFramework.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;
         Data Source=tcp:iqiunj6pyg.database.windows.net,1433;
         Initial Catalog=IndignadoFramework;
         Persist Security Info=True;
         User ID=berchgularte@adinet.com.uy@iqiunj6pyg;
         Password=Shaka123456;
         MultipleActiveResultSets=True;&quot;"
         providerName="System.Data.EntityClient"/>

    <!--<add name="ContextoIndignadoFramework"
             connectionString="Server=tcp:iqiunj6pyg.database.windows.net,1433;Database=IndignadoFramework;User ID=berchgularte@adinet.com.uy@iqiunj6pyg;Password=myPassword;Trusted_Connection=False;Encrypt=True;"
             providerName="System.Data.EntityClient" />-->

    <!--<add name="ContextoIndignadoFramework" connectionString="metadata=res://*/ModeloIndignadoFramework.csdl|res://*/ModeloIndignadoFramework.ssdl|res://*/ModeloIndignadoFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:iqiunj6pyg.database.windows.net,1433;Database=IndignadoFramework;User ID=berchgularte@adinet.com.uy@iqiunj6pyg;Password=Shaka123456;Trusted_Connection=False;Encrypt=True;&quot;" providerName="System.Data.EntityClient" />-->


    <!--Server=tcp:iqiunj6pyg.database.windows.net,1433;Database=IndignadoFramework;User ID=berchgularte@adinet.com.uy@iqiunj6pyg;Password=myPassword;Trusted_Connection=False;Encrypt=True;-->
    <!--<add name="ContextoIndignadoFramework" connectionString="metadata=res://*/ModeloIndignadoFramework.csdl|res://*/ModeloIndignadoFramework.ssdl|res://*/ModeloIndignadoFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:iqiunj6pyg.database.windows.net;Initial Catalog=IndignadoFramework;Integrated Security=False;User ID=berchgularte@adinet.com.uy@iqiunj6pyg;Password=Shaka123456;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="SchoolEntities" connectionString="metadata=res://*/SchoolDataModel.csdl|res://*/SchoolDataModel.ssdl|res://*/SchoolDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=<provideServerName>.database.windows.net;Initial Catalog=School;Integrated Security=False;User ID=<provideUserID>;Password=<providePassword>;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False&quot;" providerName="System.Data.EntityClient"/>-->


  </connectionStrings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>