<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <!--  To collect diagnostic traces, uncomment the section below or merge with existing system.diagnostics section.
        To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments.
  <system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="WCFServiceWebRole1.AzureLocalStorageTraceListener, WCFServiceWebRole1"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics> -->
  <connectionStrings>
    <!-- CHANGE CONNECTION STRING SETTINGS HERE -->

    <!--<add name="ModelContainer" connectionString="metadata=res://*/ModelContainer.csdl|res://*/ModelContainer.ssdl|res://*/ModelContainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=IndignadoFramework;Integrated Security=True;;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="ContextoIndignadoFramework" connectionString="metadata=res://*/ModeloIndignadoFramework.csdl|res://*/ModeloIndignadoFramework.ssdl|res://*/ModeloIndignadoFramework.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;
         Data Source=tcp:iqiunj6pyg.database.windows.net,1433;
         Initial Catalog=IndignadoFramework;
         Persist Security Info=True;
         User ID=berchgularte@adinet.com.uy@iqiunj6pyg;
         Password=Shaka123456;
         MultipleActiveResultSets=True;&quot;"
         providerName="System.Data.EntityClient"/>

    <!--<add name="ContextoIndignadoFramework"
             connectionString="Server=tcp:iqiunj6pyg.database.windows.net,1433;Database=IndignadoFramework;User ID=berchgularte@adinet.com.uy@iqiunj6pyg;Password=myPassword;Trusted_Connection=False;Encrypt=True;"
             providerName="System.Data.EntityClient" />-->

    <!--<add name="ContextoIndignadoFramework" connectionString="metadata=res://*/ModeloIndignadoFramework.csdl|res://*/ModeloIndignadoFramework.ssdl|res://*/ModeloIndignadoFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:iqiunj6pyg.database.windows.net,1433;Database=IndignadoFramework;User ID=berchgularte@adinet.com.uy@iqiunj6pyg;Password=Shaka123456;Trusted_Connection=False;Encrypt=True;&quot;" providerName="System.Data.EntityClient" />-->


    <!--Server=tcp:iqiunj6pyg.database.windows.net,1433;Database=IndignadoFramework;User ID=berchgularte@adinet.com.uy@iqiunj6pyg;Password=myPassword;Trusted_Connection=False;Encrypt=True;-->
    <!--<add name="ContextoIndignadoFramework" connectionString="metadata=res://*/ModeloIndignadoFramework.csdl|res://*/ModeloIndignadoFramework.ssdl|res://*/ModeloIndignadoFramework.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:iqiunj6pyg.database.windows.net;Initial Catalog=IndignadoFramework;Integrated Security=False;User ID=berchgularte@adinet.com.uy@iqiunj6pyg;Password=Shaka123456;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="SchoolEntities" connectionString="metadata=res://*/SchoolDataModel.csdl|res://*/SchoolDataModel.ssdl|res://*/SchoolDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=<provideServerName>.database.windows.net;Initial Catalog=School;Integrated Security=False;User ID=<provideUserID>;Password=<providePassword>;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False&quot;" providerName="System.Data.EntityClient"/>-->


  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
