@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    String mov = (String)Session["nomMov"];
}
<h2>Estadisticas</h2>
    <br />
    <br />
    <table>
    <tr>
                    <td>
            Usuarios registrados por mes en el ultimo año
        </td>
    </tr>
    <tr>
            <td>
            <img src="/@mov/Movimiento/Graficas?name=@ViewBag.Name&grafNum=0" alt=""  style="width: 300px;"/>
            </td>
            </tr>
                <tr>
            <td>
                

            Usuarios registrados por año en los ultimos 5 años
            </td>
            </tr>
                <tr>
            <td>
                
    <img src="/@mov/Movimiento/Graficas?name=@ViewBag.Name&grafNum=1" alt=""  style="width: 300px;"/> 
            </td>
            </tr>
                </table>
        <br />
     <br />
    <div><a href="/@mov/Movimiento/GetPdf?name=@ViewBag.Name">Obtener PDF</a></div>

    @*<h2>Estadisticas</h2>
    <br />
    <br />


    <br />
    <h3>Usuarios registrados por mes en el ultimo año</h3>
        <br />
    <img src="/@mov/Movimiento/Graficas?name=@ViewBag.Name&grafNum=0" alt="" />
        <br />
    <br />
    <h3>Usuarios registrados por año en los ultimos 5 años</h3>
        <br />
    <img src="/@mov/Movimiento/Graficas?name=@ViewBag.Name&grafNum=1" alt="" /> 
     <br />
    <div><a href="/@mov/Movimiento/GetPdf?name=@ViewBag.Name">Obtener PDF</a></div>*@